.header{
    background-color: lightseagreen;
}

.table{
  padding-top:50px;
  padding-left:20px;
  padding-right: 20px;
  position: relative;
} 

.button{
    background-color: lightseagreen;
    color: black;
}